@import '../../variables.scss';
.error {
    padding: 20px;
    color: $color-text-white;
    background-color: $error-color-background;
    border-radius: $border-radius;
    border: $border;
    box-shadow: $box-shadow;
}