html {
  font-family: 'Open Sans', 'system-ui';
}

html,
body {
  height: 100%;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  font-family: 'Open Sans', 'system-ui';
  box-sizing: inherit;
}

body {
  color: $color-text-dark;
  background-color: $background-color-body;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.5px;
}

#root {
  height: 100%;
  display: flex;
  flex-direction: column;
}
