$background-color-body: #F3F7FA;
$background-color-element: #ffffff;
$background-color-active: #2196F3;
$hover-color: #F1FCFF;
$color-text-dark: #4A4A4A; 
$color-text-light: #A0B0B9;
$color-text-blue: #2196F3;
$color-text-white: white;
$box-shadow: 0px 2px 8px 0px rgba(0, 0, 26, 0.2);
$border: 1px solid #DFE5EC;
$border-radius: 5px;

